.my-paginator{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,0,0,.54);

    li{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        vertical-align: middle;
        display: inline-block;

        span{
            cursor: pointer;
            padding: 0 6px;
            line-height: 22px;
            min-width: 24px;
            margin: 6px 3px;
            height: 22px;
            display: block;
            text-align: center;
        }

        &:hover{
            span{
                background-color: rgba(158, 158, 158, 0.2);
                border-radius: 3px;
                color: rgba(0, 0, 0, 0.54);
            }
        }

        &.active{
            span{
                background-color: rgba(158, 158, 158, 0.2);
                border-radius: 3px;
                color: rgba(0, 0, 0, 0.54);
                font-weight: 700;
            }
        }

        &.disabled{
            span{
                cursor: not-allowed;
            }
            &:hover{
                span{
                    background-color: transparent;
                }
            }
        }
    }
}