<div fxLayoutAlign="end center" fxLayoutAlign.lt-md="center center">
  <ul class="my-paginator p-20" [@animateStagger]="{value:'50'}" *ngIf="nbrPage > 1">
    <li [ngClass]="{'disabled': page==0}" (click)="first()" [@animate]="{value:'*',params:{x:'100%'}}"><span><mat-icon>skip_previous</mat-icon></span></li>
    <li [ngClass]="{'disabled': page==0}" (click)="prev()"[@animate]="{value:'*',params:{x:'100%'}}"><span><mat-icon>navigate_before</mat-icon></span></li>
    
    <li *ngFor="let n of numbers" [@animate]="{value:'*',params:{x:'100%'}}"
    [ngClass]="{'active': page==n}"
    (click)="changePage(n)">
    <span>{{n+1}}</span></li>
  
    <li [ngClass]="{'disabled': page==nbrPage-1}" (click)="next()" [@animate]="{value:'*',params:{x:'100%'}}"><span><mat-icon>navigate_next</mat-icon></span></li>
    <li [ngClass]="{'disabled': page==nbrPage-1}" (click)="last()" [@animate]="{value:'*',params:{x:'100%'}}"><span><mat-icon>skip_next</mat-icon></span></li>
  </ul>
</div>