<div fxFlex fxLayout="column" fxLayoutAlign="space-between stretch">
    <mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
        <%_ fields.forEach(field => { _%>
        <ng-container cdkColumnDef="<%= field.fieldName %>">
            <mat-header-cell *cdkHeaderCellDef><%= field.fieldNameCapitalize %></mat-header-cell>
            <mat-cell *cdkCellDef="let <%= name %>">
                <p class="text-truncate x-font-weight-600">{{<%= name %>.<%= field.fieldName %>}}</p>
            </mat-cell>
        </ng-container>
        <%_}); _%>

        <ng-container cdkColumnDef="buttons">
            <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
            <mat-cell *cdkCellDef="let <%= name %>">
                <div fxFlex="row" fxLayoutAlign="end center">

                    <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #moreMenu="matMenu">
                        <button mat-menu-item aria-label="remove" (click)="delete<%= nameCapitalise %>(<%= name %>)">
                            <mat-icon>delete</mat-icon>
                            <span>Supprimer</span>
                        </button>
                    </mat-menu>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let <%= name %>; columns: displayedColumns;" class="contact" (click)="edit(<%= name %>)" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>

    </mat-table>

    
    <app-my-paginator 
        [total]="totalCount" 
        [pageSize]="pageSize" 
        [page]="page" 
        (selectPage)="onPageSelect($event)">

    </app-my-paginator>
    
</div>