<div id="<%= name %>" class="page-layout simple left-sidenav inner-sidenav">
  
      <!-- HEADER -->
      <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start"
           fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
  
          <!-- APP TITLE -->
          <div fxLayout="row" fxLayoutAlign="start center">
  
              <!--button mat-button class="mat-icon-button sidenav-toggle mr-12"
                      fuseMatSidenavToggler="contacts-main-sidenav"
                      fxHide.gt-md>
                  <mat-icon>menu</mat-icon>
              </button-->
  
              <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">pages</mat-icon>
                  <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"><%= nameCapitalise %></span>
              </div>
  
          </div>
          <!-- / APP TITLE -->
  
          <!-- SEARCH -->
          <!--div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
              <label for="search" class="mr-8">
                  <mat-icon>search</mat-icon>
              </label>
              <mat-form-field mat-no-float class="m-0" floatPlaceholder="never">
                  <input matInput [formControl]="searchInput" id="search" placeholder="Search for anything">
              </mat-form-field>
          </div-->
          <!-- / SEARCH -->
  
      </div>
      <!-- / HEADER -->
  
      <mat-sidenav-container>

          <!-- CENTER -->
          <div class="center p-24 pb-56 xpr-sm-92" fusePerfectScrollbar>
  
              <!-- CONTENT -->
              <div class="content mat-white-bg mat-elevation-z4">
  
                  <app-<%= name %>-list></app-<%= name %>-list>
  
              </div>
              <!-- / CONTENT -->
  
          </div>
          <!-- / CENTER -->
  
      </mat-sidenav-container>
  
  </div>
  
  <!-- ADD <%= name %> BUTTON -->
  <button mat-fab class="mat-accent-bg" id="add-<%= name %>-button" (click)="new<%= nameCapitalise %>()" aria-label="Ajouter un <%= name %>"
          *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
      <mat-icon>add</mat-icon>
  </button>
  <!-- / ADD <%= name %> BUTTON -->
  