#<%= name %> {
    
        .content {
            overflow: hidden;
        }
    }
    
    #add-<%= name %>-button {
        position: absolute;
        bottom: 12px;
        right: 12px;
        padding: 0;
        z-index: 99;
    }