.<%= name %>-form-dialog {
    
        .mat-dialog-container {
            padding: 0;
            width: 400px;
            overflow: hidden;
    
            .mat-toolbar {
                min-height: initial;
            }
    
            .toolbar-bottom {
                height: auto;
            }
        }
    
        .dialog-content-wrapper {
            max-height: 85vh;
            display: flex;
            flex-direction: column;
        }
    }
    