<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          <span class="title dialog-title">{{dialogTitle}}</span>
          <button mat-button class="mat-icon-button"
                  (click)="dialogRef.close()"
                  aria-label="Close dialog">
              <mat-icon>close</mat-icon>
          </button>
      </div>

      <!--mat-toolbar-row class="toolbar-bottom py-8 py-sm-16" fxLayout="column" fxLayoutAlign="center center">
          <img [src]="contact.avatar" class=" avatar contact-avatar huge"
               [alt]="contact.name"/>
          <div class="contact-name">dsdsd</div>
      </mat-toolbar-row-->
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

      <form [formGroup]="<%= name %>Form">
        <%_ fields.forEach(field => { _%>
            
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12">input</mat-icon>
                <mat-form-field fxFlex>
                    <%_ if(field.fieldType == 'Text'){ _%>
                    <input name="<%= field.fieldName %>" formControlName="<%= field.fieldName %>" placeholder="<%= field.fieldNameCapitalize %>" matInput >
                    <%_ } _%>
                    <%_ if(field.fieldType == 'Chiffre'){ _%>
                    <input type="number" name="<%= field.fieldName %>" formControlName="<%= field.fieldName %>" placeholder="<%= field.fieldNameCapitalize %>" matInput >
                    <%_ } _%>
                    <%_ if(field.fieldType == 'TextLong'){ _%>
                    <textarea name="<%= field.fieldName %>" formControlName="<%= field.fieldName %>" placeholder="<%= field.fieldNameCapitalize %>" matInput > </textarea>
                    <%_ } _%>
                    <%_ if(field.fieldType == 'Boolean'){ _%>
                    <mat-checkbox name="<%= field.fieldName %>" formControlName="<%= field.fieldName %>" > <%= field.fieldNameCapitalize %></mat-checkbox>
                    <%_ } _%>
                    <%_ if(field.fieldType == 'Date'){ _%>
                    <input [matDatepicker]="picker<%= field.fieldNameCapitalize %>" name="<%= field.fieldName %>" formControlName="<%= field.fieldName %>" placeholder="<%= field.fieldNameCapitalize %>" matInput >                    
                    <mat-datepicker-toggle matSuffix [for]="picker<%= field.fieldNameCapitalize %>"></mat-datepicker-toggle>
                    <mat-datepicker #picker<%= field.fieldNameCapitalize %>></mat-datepicker>
                    <%_ } _%>
                    <%_ if(field.fieldType == 'ChoixSelect'){ _%>
                    <mat-select name="<%= field.fieldName %>" formControlName="<%= field.fieldName %>" placeholder="<%= field.fieldNameCapitalize %>">
                        <!--mat-option *ngFor="let food of foods" [value]="food.value">
                            {{ food.viewValue }}
                        </mat-option-->
                    </mat-select>
                    <%_ } _%>
                    <%_ if(field.fieldValidation.includes('required')){ _%>
                    <mat-error *ngIf="<%= name %>FormErrors?.<%= field.fieldName %>.required">
                        <%= field.fieldNameCapitalize %> est requis
                    </mat-error>
                    <%_ } _%>
                    <%_ if(field.fieldValidation.includes('min')){ _%>
                        <%_ if(field.jsType == 'number'){ _%>
                    <mat-error *ngIf="<%= name %>FormErrors?.<%= field.fieldName %>.min">
                        <%_ }else { _%>
                    <mat-error *ngIf="<%= name %>FormErrors?.<%= field.fieldName %>.minlength">                                
                        <%_ } _%>
                        Valeur minimale <%= field.min %> 
                    </mat-error>
                    <%_ } _%>
                    <%_ if(field.fieldValidation.includes('max')){ _%>
                        <%_ if(field.jsType == 'number'){ _%>
                    <mat-error *ngIf="<%= name %>FormErrors?.<%= field.fieldName %>.max">
                        <%_ }else { _%>
                    <mat-error *ngIf="<%= name %>FormErrors?.<%= field.fieldName %>.maxlength">                                
                        <%_ } _%>
                        Valeur maximale <%= field.max %> 
                    </mat-error>
                    <%_ } _%>
                </mat-form-field>
            </div>
        <%_ }); _%>

      </form>

  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

      <button *ngIf="action !=='edit'"
              mat-raised-button
              (click)="dialogRef.close(<%= name %>Form)"
              class="save-button mat-accent"
              [disabled]="<%= name %>Form.invalid"
              aria-label="Enrégistrer">
          Enrégistrer
      </button>

      <button *ngIf="action ==='edit'"
              mat-raised-button
              (click)="dialogRef.close(['save',<%= name %>Form])"
              class="save-button mat-accent"
              [disabled]="<%= name %>Form.invalid"
              aria-label="Enrégistrer">
              Enrégistrer
      </button>

      <button *ngIf="action ==='edit'"
              mat-button
              class="mat-icon-button"
              (click)="dialogRef.close(['delete',<%= name %>Form])"
              aria-label="Delete"
              matTooltip="Delete">
          <mat-icon>delete</mat-icon>
      </button>

  </div>
</div>
